<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link type="text/css" rel="stylesheet" href="css/shards.min.css">
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<script type="text/javascript">
	$.get("/user", function(data) {
		$("#user").html(data.userAuthentication.details.name);
		$(".unauthenticated").hide()
		$(".authenticated").show()
	});
	var logout = function() {
		$.post("/logout", function() {
			$("#user").html('');
			$(".unauthenticated").show();
			$(".authenticated").hide();
		})
		return true;
	}
	$.ajaxSetup({
		beforeSend : function(xhr, settings) {
			if (settings.type == 'POST' || settings.type == 'PUT'
					|| settings.type == 'DELETE') {
				if (!(/^http:.*/.test(settings.url) || /^https:.*/
						.test(settings.url))) {
					// Only send the token to relative URLs i.e. locally.
					xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
							.get('XSRF-TOKEN'));
				}
			}
		}
	});
</script>
</head>
<body>
	<h1>OAuth-2 Security Demo</h1>
	<div class="container"></div>
	<div class="container unauthenticated">
		With Facebook: <a href="/login">click here</a>
	</div>
	<div class="container authenticated" style="display: none">
		Logged in as: <span id="user"></span>
	</div>
	<div class="container authenticated">
		Logged in as: <span id="user"></span>
		<div>
			<button onClick="logout()" class="btn btn-primary">Logout</button>
		</div>
	</div>
</body>
</html>